/* Footer.css */
.footer {
  background-color: #101d8a; /* Teal background */
  color: white;
  
  text-align: center;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #DEB041; /* Gold color on hover */
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .social-links {
    gap: 10px;
  }

  .social-icon {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 15px;
  }

  .footer-text {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .social-icon {
    font-size: 14px;
  }
}