/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5536c7;
  padding: 20px 20px;
  font-family: Arial, sans-serif;
}
*{
  margin:0;
  padding: 0;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ecf0f1;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #ecf0f1;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #3498db;
}

.active {
  color: #1abc9c;
  font-weight: bold;
}
