/* Body.css */
.body-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
  background-color: #f4f4f4;
  padding: 0; /* Remove extra padding from body */
  margin: 0; /* Remove margin */
}

.image-section {
  flex: 0.8;
  display: flex;
  align-items: flex-start;
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove padding */
}

.cover-image {
  width: 100%;
  height: auto;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  
}

.cover-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Dark overlay for better text readability */
  border-radius: 10px;
}

.intro {
  flex: 1;
  padding: 20px;
  text-align: left;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #101d8a;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.intro p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.8;
  margin-bottom: 40px;
  text-align: center; /* Center the text */
}

.sign-in-btn {
  padding: 15px 30px;
  background-color: #6A2B56; /* Purple button */
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  margin-top: 20px; /* Space above the button */
}

.sign-in-btn:hover {
  background-color: #DEB041; /* Gold hover effect */
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sign-in-btn .nav-link {
  color: white;
  text-decoration: none;
}

.sign-in-btn .nav-link:hover {
  color: white;
}
